
.loader{
  margin-left: 50%;
}
.loading-gif{
  height: 32px !important;
}

textarea::placeholder, input::placeholder{
  color: gray !important;
}

.header {
  color: white !important;
    text-align: center !important;
    font-size: 31px !important;
}
